<a href="https://colab.research.google.com/github/fabiomartinezmerino/python_tests/blob/master/LinuxAcademyPython1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Strings**

In [ ]:
s = 'this is a string'

''' using fstrings '''
print(f"printing what is inside variable \"s\": {s}")

''' using str.formmat() '''
print("printing what is inside variable \"s\": {0}".format(s))

printing what is inside variable "s": this is a string
printing what is inside variable "s": this is a string

# **Numbers**

In [ ]:
floatNumber = 3.2e4
print(f"The number is: {str(floatNumber)}")

The number is: 32000.0

In [ ]:
#Integer division
i1, i2 = 5,3
print(f"La división entera entre {i1} y {i2} es: {i1//i2}")

La división entera entre 5 y 3 es: 1

In [ ]:
#Module - the remainder of a division
i1,i2 = 10, 4
print(f"El resto de dividir {i1} entre {i2} es: {i1%i2}")

El resto de dividir 10 entre 4 es: 2

In [ ]:
#Power
base, exponent = 2,4
print(f"{base} to the {exponent} power equals {base**exponent} ")

2 to the 4 power equals 16

In [ ]:
#numeric systems

#binary
numberDecimal = 321

binformat = bin(numberDecimal)
#bin returns a string
print(f"Type of binformat is {type(binformat)}")

print (f"{numberDecimal} in binary is: {binformat}")

print(f"{binformat} in decimal is: {int(binformat,2)}")

#hexadecimal
numberDecimal = 432

hexformat = hex(numberDecimal)
#hex returns a string
print(f"Type of hexformat is {type(hexformat)}")

print(f"{numberDecimal} in hexadecimal is: {hexformat}")

print(f"{hexformat} in decimal is: {int(hexformat,16)}")

Type of binformat is <class 'str'>
321 in binary is: 0b101000001
0b101000001 in decimal is: 321
Type of hexformat is <class 'str'>
432 in hexadecimal is: 0x1b0
0x1b0 in decimal is: 432

### **Logical Operators**

In [ ]:
#Logical operations in numbers
binary1 =  0b11001000
binary2 = 0b01000000

print(f"Or operation - {binary1:0>8b} OR {binary2:0>8b} = {(binary1 | binary2):0>8b}... in decimal: {int(binary1|binary2)}")
print(f"And operation - {binary1:0>8b} AND {binary2:0>8b} = {binary1 & binary2:0>8b}... in decimal: {binary1 & binary2}")
print(f"Xor operation - {binary1:0>8b} XOR {binary2:0>8b} = {binary1 ^ binary2:0>8b}... in decimal: {binary1 ^ binary2}")

#Bitwise operations
binary1 = 0b11000000
binary2 = 0b00000011

print(f"Number in decimal format: {int(binary1)} in binary format: {binary1:0>8b} ... and now we apply >> 2 : decimal: {int (binary1 >> 2)} binary: {binary1 >>2:0>8b}")
print(f"Number in decimal format: {int(binary2)} in binary format: {binary2:0>8b} ... and now we apply >> 2 : decimal: {int (binary2 << 2)} binary: {binary2 << 2:0>8b}")

Or operation - 11001000 OR 01000000 = 11001000... in decimal: 200
And operation - 11001000 AND 01000000 = 01000000... in decimal: 64
Xor operation - 11001000 XOR 01000000 = 10001000... in decimal: 136
Number in decimal format: 192 in binary format: 11000000 ... and now we apply >> 2 : decimal: 48 binary: 00110000
Number in decimal format: 3 in binary format: 00000011 ... and now we apply >> 2 : decimal: 12 binary: 00001100

In [ ]:
# Boolean operators

# not
print(f"Not True: {not True}")

print(f"Not False: {not False}")

# or
print (f"True OR False: {True or False}")

# and
print (f"True AND False: {True and False}")

print (f"False AND False: {False and False}")

# xor
print (f"True xor False: {True ^ False}")
print (f"True xor True: {True ^ True}")
print (f"True or True: {True or True}")

Not True: False
Not False: True
True OR False: True
True AND False: False
False AND False: False
True xor False: True
True xor True: False
True or True: True

### **Type casting**

In [70]:
#int

print(f"7.324 is going to be cast into an integer: {int(7.324)}")

#float

print(f"43 is going to be cast into a float: {float(43)}")

#int parsing string into an int

a = int("32")
print(f"The string 32 is going to be cast into an int: {a}")

#this is not correct
#print(f"The string 32 is going to be cast into an int: {int("32")}")

7.324 is going to be cast into an integer: 7
43 is going to be cast into a float: 43.0
The string 32 is going to be cast into an int: 32

### **Input function**

In [72]:
a = input("Nombre:\n")
print(f"Tu nombre es: {a}")

#input returns a string... if you want to  obtain an int from console you need to typecast
a = int(input("Age?:\n"))
print(f"Your age is: {a} years")

Nombre:
Fabio
Tu nombre es: Fabio
Age?:
46
Your age is: 46 years

In [74]:
#lab: convert Farenheit to celsius

f = float(input("Input temperature in F:\n"))
print(f"{f} ºF is {(f-32)*5/9} ºC")

Input temperature in F:
64
64.0 ºF is 17.77777777777778 ºC

### **Strings Basics: Mutable & Inmutable; Object ID's id(); Length len(); Slicing**

In [5]:
#strings are inmutable
s1 = "hola mundo"
print(f"Escribiemos la variable con mayúscula al ppio: {s1.capitalize()} y el ID: {id(s1.capitalize())}")
print(f"Escribimos contenido de variable original: {s1} y su ID: {id(s1)}")
#reasignamos variable s1
s1 = "hasta luego chicos"
print(f"Escribimos contenido de variable original: {s1} y su ID: {id(s1)}")
s2 = "hola mundo"
print(f"ID de variable s1: {id(s1)}")
print(f"ID de variable s2: {id(s2)}")
#uso de len()
print(f"Longitud del contenido de s1: {len(s1)} y s2: {len(s2)}")

Escribiemos la variable con mayúscula al ppio: Hola mundo y el ID: 140359636967600
Escribimos contenido de variable original: hola mundo y su ID: 140359637263728
Escribimos contenido de variable original: hasta luego chicos y su ID: 140359636826272
ID de variable s1: 140359636826272
ID de variable s2: 140359636967472
Longitud del contenido de s1: 18 y s2: 10

In [7]:
#Accediendo a caracteres concretos en un string
s1 = "Hola mundo!"
print(f"ID: {id(s1)} - Longitud: {len(s1)}")
print(f"Último carácter: {s1[len(s1)-1]} - Primer carácter: {s1[0]}")
#Ahora lo mismo pero con notación [-n]

ID: 140359636700528 - Longitud: 11
Último carácter: ! - Primer carácter: H