In [3]:
###Test your knowledge.
"""
Answer the following questions

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: objects that can contain integers or float numbers

Strings: sequence of characters, strings are inmutable

Lists: they are an object capable of containning diferent types of objects. This objects once stored keep an order (they are indexed)
Lists have methods to order, retrieve or add items    

Tuples: they are quite similar as lists but they are inmutable

Dictionaries: unordered group of items (objects of different type) that are indexed by a key. They are mutable
"""

"\nAnswer the following questions\n\nWrite a brief description of all the following Object Types and Data Structures we've learned about:\n\nNumbers: objects that can contain integers or float numbers\n\nStrings: sequence of characters, strings are inmutable\n\nLists: they are an object capable of containning diferent types of objects. This objects once stored keep an order (they are indexed)\nLists have methods to order, retrieve or add items    \n\nTuples: they are quite similar as lists but they are inmutable\n\nDictionaries: unordered group of items (objects of different type) that are indexed by a key. They are mutable\n"

In [4]:
"""
Numbers
Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25
"""

(((2*5)**2)/10)+91-0.75

100.25

In [5]:
"""
Answer these 3 questions without typing code. Then type code to check your answer.

What is the value of the expression 4 * (6 + 5)

What is the value of the expression 4 * 6 + 5 

What is the value of the expression 4 + 6 * 5 
"""

print(4* (6+5) == 44)
print(4*6+5==29)
print(4+6*5==34)

True
True
True

In [6]:
"""
What is the type of the result of the expression 3 + 1.5 + 4?
"""
print(type(3 + 1.5 + 4)==float)

True

In [7]:
"""
What would you use to find a numberâ€™s square root, as well as its square?
"""
print (9**0.5)
print (3**2)

3.0
9

In [10]:
###Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

"""
s = 'hello'
# Print out 'e' using indexing
Reverse the string 'hello' using slicing:

In [ ]:
s ='hello'
# Reverse the string using slicing
Given the string hello, give two methods of producing the letter 'o' using indexing.

In [ ]:
s ='hello'
# Print out the 'o'

# Method 1:
In [ ]:
# Method 2:
"""
s="hello"
print (s[1])

e

In [13]:
s[::-1]

'olleh'

In [14]:
s[-1]

'o'

In [15]:
s[len(s)-1]

'o'

In [16]:
### Lists
### Build this list [0,0,0] two separate ways.

###Method 1
mylist = [0,0,0]
mylist

[0, 0, 0]

In [17]:
###Method 2
mylist = [0]*3
mylist

[0, 0, 0]

In [19]:
###Reassign 'hello' in this nested list to say 'goodbye' instead:


list3 = [1,2,[3,4,'hello']]
list3[2][2]="goodbye"
list3

[1, 2, [3, 4, 'goodbye']]

In [20]:
###Sort the list below:


list4 = [5,3,4,6,1]

list4.sort()
list4

[1, 3, 4, 5, 6]

In [22]:
###Dictionaries
###Using keys and indexing, grab the 'hello' from the following dictionaries:

dd  =  {"simple" :'hello'}
# Grab 'hello'
dd["simple"]

'hello'

In [23]:

dd  = {'k1':{'k2':'hello'}}
# Grab 'hello'
dd["k1"]["k2"]

'hello'

In [24]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

d["k1"][0]["nest_key"][1][0]

'hello'

In [25]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
# Grab hello
d["k1"]

[1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]

In [26]:
d["k1"][2]

{'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}

In [27]:
d["k1"][2]["k2"]

['this is tricky', {'tough': [1, 2, ['hello']]}]

In [29]:
d["k1"][2]["k2"][1]["tough"][2][0]

'hello'

In [30]:
"""
Sets
What is unique about a set?


Use a set to find the unique values of the list below:
"""



list5  = [1,2,2,33,4,4,11,22,3,3,2]
myset = set(list5)
myset

{1, 2, 3, 4, 11, 22, 33}